---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}



<h2>Publications</h2>

<section><section> 
<ul><li><a href="http://arxiv.org/abs/2403.04744" target="_blank">SQ Lower Bounds for Non-Gaussian Component Analysis with Weaker Assumptions</a></li></ul><p div=""><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;with <a href="http://www.iliasdiakonikolas.org/" target="_blank">Ilias Diakonikolas</a>, <a href="https://cseweb.ucsd.edu/~dakane/" target="_blank">Daniel M. Kane</a> and <a href="https://lishengren6.github.io/" target="_blank">Lisheng Ren</a>.</em> NeurIPS 2023.</p>


</section><section> 
<ul><li><a href="http://arxiv.org/abs/2310.11876" target="_blank">SQ Lower Bounds for Learning Mixtures of Linear Classifiers</a></li></ul><p div=""><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;with <a href="http://www.iliasdiakonikolas.org/" target="_blank">Ilias Diakonikolas</a> and <a href="https://cseweb.ucsd.edu/~dakane/" target="_blank">Daniel M. Kane</a>.</em> NeurIPS 2023.</p>


</section><section> 
<ul><li><a href="https://arxiv.org/abs/2210.09949" target="_blank">SQ Lower Bounds for Learning Single Neurons with Massart Noise</a></li></ul><p div=""><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;with <a href="http://www.iliasdiakonikolas.org/" target="_blank">Ilias Diakonikolas</a>, <a href="https://cseweb.ucsd.edu/~dakane/" target="_blank">Daniel M. Kane</a> and <a href="https://lishengren6.github.io/" target="_blank">Lisheng Ren</a>.</em> NeurIPS 2022.</p>

</section><section> 
<ul><li><a href="https://arxiv.org/abs/2206.04589" target="_blank">Optimal SQ Lower Bounds for Robustly Learning Discrete Product Distributions and Ising Models</a></li></ul><p div=""><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;with <a href="http://www.iliasdiakonikolas.org/" target="_blank">Ilias Diakonikolas</a> and <a href="https://cseweb.ucsd.edu/~dakane/" target="_blank">Daniel M. Kane</a>.</em> COLT 2022.</p>

</section><section> 
<ul><li><a href="https://arxiv.org/abs/2102.02171" target="_blank">Outlier-Robust Learning of Ising Models Under Dobrushin's Condition</a></li></ul> 
<p div=""><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;with <a href="http://www.iliasdiakonikolas.org/" target="_blank">Ilias Diakonikolas</a>, <a href="https://cseweb.ucsd.edu/~dakane/" target="_blank">
Daniel M. Kane</a> and <a href="http://www.alistair-stewart.com/" target="_blank">Alistair Stewart</a>.</em> COLT 2021.</p>

</section><section> 
<ul><li><a href="https://arxiv.org/abs/1909.04244" target="_blank">Contraction: a Unified Perspective of Correlation Decay and Zero-Freeness of 2-Spin Systems</a></li></ul> 
<p div=""><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;with <a href="http://staff.ustc.edu.cn/~wwwucuc/" target="_blank">Shuai Shao</a>.</em> ICALP 2020.</p>

</section><section> 
<ul><li><a href="https://arxiv.org/abs/1702.00142" target="_blank">What can be sampled locally?</a></li></ul> 
<p div=""><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;with <a href="https://fwm94.github.io/" target="_blank">Weiming Feng</a> and <a href="http://tcs.nju.edu.cn/yinyt/" target="_blank">Yitong Yin</a>.</em> PODC 2017.</p>
